# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore IDE/editor files
.idea/
.vscode/
